body{
    background-color:  rgb(241, 255, 172);
    color:black;
    font-family: "Special Elite", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
}

.passo{
     display: none;
}
.passo.ativo{
     display: block;
}